/****general****/

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

body {
    font-family: sans-serif;
    width: 100%;
}

/****header****/

.headerContainer {
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

.header_Sup {
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

/*Incio-Registrar*/

.menuInicio {
    width: 15%;
    justify-content: space-around;
}
.menuInicio li>a {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #11cbd7;
    margin: 5px 5px 0 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
    width: 60%;
}

/*logo*/

.logo {
    align-items: center;
    width: 30%;
    margin: 5px;
}
.logo img {
    width: 270px;
    height: 90px;
}
/*Menu Carrito*/

.menuCarrito {
    justify-content: space-around;
    width: 15%;
  }

/*carrito*/

#carrito {
    text-decoration: none;
    color: #11cbd7;
    margin: 10px 5px 0;

}
/*buscador*/

.buscador {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    margin: 0 5px;
}
#input_Buscador {
    border: none;
    outline: none;
    background: none;
    color: #FFFFFF;
    transition: 0.4s;
    font-size: 14px;
    line-height: 25px;
}
#btn_Buscador {
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

/*navbar*/

.menuNavbar {
    flex-direction: row;
    background-color: #fa4659;
    list-style: none;
    height: 7vh;
 }

.menuNavbar li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menuNavbar li {
    padding: 0 20px;
}

.menuNavbar li a:hover {
    background-color: #3a4750;
    opacity: 0.7;
    transition: .4s;
    color: #000000;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/*
.menuNavbar ul {
    margin: 0;
}

.menuNavbar>li>ul {
    display: none;
}

.subMenuNavbar {
	position: absolute;
    list-style: none;
    background-color: #3a4750;
}

/************************************INDEX************************************/

/****main****/
/**breadcrumb**/

.divBreadcrumb{
    background-color: #eaeaea;
    width: 90%;
    height: 5%;
    border-radius: 4px;
}

.menuBreadcrumb{
    flex-direction: row;
    margin: 0 !important;
    height: 100%;
    padding-left: 15px;
}

.menuBreadcrumb li, span {
    padding: 10px 2px;
    justify-content: center;
}

.menuBreadcrumb a {
    text-decoration: none;
    color: #000000;
}

/* Formulario */
.divformenvios{
display:flex;
justify-content:center;
align-items:center;
padding:20px
}

#formenvio{
width:50%;
padding: 20px;
border: 3em solid transparent;
margin-bottom:0px;
margin-left:16px;

}
fieldset
{
  background-color:#CCC;
  max-width:500px;
  padding:16px;
  border:2px solid green;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

.tipoenvio{
  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
}



input:focus {
  border: 2px solid #000;
  background: #F3F3F3;
}


/*Campos*/

#nombre{
   border-radius: 5px;
   background-color: #def;
}

#apellido{
  border-radius: 5px;
  background-color: #def;
}

#dni{
  border-radius: 5px;
  background-color: #def;
}

#telefono{
  border-radius: 5px;
  background-color: #def;
}

#calle{
  border-radius: 5px;
  background-color: #def;
}

#numero{
  border-radius: 5px;
  background-color: #def;
}

#piso{
  border-radius: 5px;
  background-color: #def;
}

#dpto{
  border-radius: 5px;
  background-color: #def;
}

#provincia{
  border-radius: 5px;
  background-color: #def;
}

#ciudad{
  border-radius: 5px;
  background-color: #def;
}

/*Botones*/
#flecha{
			background: grey;
			border-radius: 10%;
			padding: .25em;
      width: 10%;
      position: relative;
      left: -200px;
      top: 1em;
      margin-top: 1em;
		}

    #siguiente{
width:150px;
padding:10px;
border:none;
border-radius:5px;
background-color:#7C7B7B;
font-size:20px;
color:#fff;
align-items: center;
position: relative;
left: 180px;
top: 1em;
}

.botones{
flex-direction: row;
 width: 100%;
 align-items:flex-start;
}

.siguiente{
  align-items: flex-end;
}


/****footer****/

footer {
    background-color: #3a4750;
    height: 40vh;
    justify-content: space-between;
}

/**footer div**/

.footer_div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.footer_div div {
    height: 80%;
    width: 10%;
}

/*contacto*/

#divContacto {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    font-size: 12px;
}

#divContacto li {
    flex-direction: row;
    padding: 6px;
}

#divContacto i {
    padding: 5px 7px;
}

/*mapa de sitio*/

#divMapaSitio {
    padding: 10px;
    color: #ffffff;
}

#divMapaSitio a {
    text-decoration: none;
	color: #ffffff;
    padding: 5px 0 0 5px;
   }

/* redes sociales */

#divRedesSociales {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    width: 20%;
 }

#divRedesSociales a {
    text-decoration: none;
    color: #11cbd7;
    padding: 5px 0 0 5px;
}

/*newsletter*/

#divNewsletter {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    align-items: center;
}

#divNewsletter input {
   margin-top: 20px;
}

#inputEmail {
    padding-left: 15px;
    font-size: 14px;
    width: 90%;
    align-self: center;
}

#botonSuscribite {
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    align-items: center;
    align-self: center;
    padding: 5px;
    width: 50%;
}

/**Copyright**/

.copyright {
    background-color:  #fa4659;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 10px;
}
.copyright p{
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    color: #ffffff;
    margin:0;
}
#irArriba {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}
#irArriba:hover {
    color: #000000;
}
