/************************************REGISTRARSE************************************/

.containerRegistrarse{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.containerRegistrarse h3 {
    align-items: center;
    margin-bottom: 20px;
}

/*Formulario*/

.formularioReg{
    align-items:flex-start;
    width: 100%;
    padding:0 3%;
}

.formularioReg label {
    margin: 0;
}

.campoReg{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 13px;
}

.direccionReg{
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

#campo1{
  width: 70%;
  align-items: flex-start;
  margin-left: 1;
}

#campo2{
  width: 30%;
  align-items: flex-start;
  margin-left: 1%;
}

/*Terminos y Notificaciones*/

.divTerminosNotif{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.divTerminosNotif h5 {
    font-size: 13px;
    color: #000000;
    flex-direction: row;
    margin: 0 15px; 
}

h5 a {
    padding: 0 5px;
    font-size: 13px;
    font-style: italic;
}

.divCheck {
    flex-direction: row;
    justify-content: center;
}

.divCheck label {
    margin: 0 10px;
    font-size: 13px;
}

.divCheck2 {
    flex-direction: row;
    justify-content: center;
}

.divCheck2 label {
    font-size: 13px;
}

hr {
    width: 80%;
    align-self: center;
    margin: 0;
}

/*Boton Registrarse*/
.botonRegistrarse{
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#btnRegistro{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}

/*Inicia Sesion*/

.inicioSesion {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
}

.inicioSesion a {
    margin-left: 10px;
}