/************************************INDEX************************************/

/****main****/

.contenedorIndex {
	justify-content: space-around;
	align-items: center;
	width: 100%;
    height: 230vh;
    text-align: center;
}

.h3 {
    height: 15%;
    justify-content: center;
}

.galeria {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

/*carousel*/

#mainCarousel {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.imagenCarousel {
    width: auto;
    height: 400px;
}

.indicador {
	flex-direction: row;
}

/*destacados*/
#mainDestacados {
    background-color: #D3D3D3;
    height: 20%;
    width: 70%;
}

.divDestacados {
    background-color: #696969;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 10px;
}

.divDestacados a {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.divDestacados:hover {
    background-color: #fa4659;
    transition: 0.4s;
    opacity: 1;
}
.divDestacados img {
    width: 100%;
    height: 100%;
}

/*promociones*/
#mainPromociones {
    background-color: #D3D3D3;
    height: 25%;
    width: 70%;
}

.divPromociones {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.divPromociones a {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.divPromociones img {
    width: 100%;
    height: 100%;
    border: 5px dotted #000000;
}

.ampliar:hover{
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2);
}

/*pagos*/
#mainPagosEnvios {
    background-color: #D3D3D3;
    height: 20%;
    width: 70%;
}

.divPagosEnvios {
	align-items: center;
    justify-content: center;
    margin: 10px;
}

.divPagosEnvios img {
    width: 70%;
    height: 60%;
}

.rotate:hover{
    transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
}

