/************************************RECUPERACION	************************************/

.recuperarCuenta{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #DCDCDC;
    height: 100%;
    width: 50%;
    justify-content: center;
    padding: 20px;
}

.recuperarCuenta h3 {
    align-items: center;
    margin-bottom: 20px;
}

/*Formulario*/

.recuperaTuCuenta {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.recuperaTuCuenta p {
	font-weight: bold;
	text-align: center;
}

.recuperaTuCuenta label{
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin:0;
}

.recuperaTuCuenta input {

    margin-bottom: 15px;
    font-size: 13px;
    height: 30px;
}


/*Boton Recuperacion*/
.botonRecuperacion{
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

#btnRecuperacion{
    height:35px;
    justify-content: center;
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    padding: 5px;
}