/****general****/

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

body {
    font-family: sans-serif;
    width: 100%;
}

/****header****/

.headerContainer {
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

.header_Sup {
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

/*Incio-Registrar*/

.menuInicio {
    width: 15%;
    justify-content: space-around;
}
.menuInicio li>a {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #11cbd7;
    margin: 5px 5px 0 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
    width: 60%;
}

/*logo*/

.logo {
    align-items: center;
    width: 30%;
    margin: 5px;
}
.logo img {
    width: 270px;
    height: 90px;
}
/*Menu Carrito*/

.menuCarrito {
    justify-content: space-around;
    width: 15%;
  }

/*carrito*/

#carrito {
    text-decoration: none;
    color: #11cbd7;
    margin: 10px 5px 0;

}
/*buscador*/

.buscador {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    margin: 0 5px;
}
#input_Buscador {
    border: none;
    outline: none;
    background: none;
    color: #FFFFFF;
    transition: 0.4s;
    font-size: 14px;
    line-height: 25px;
}
#btn_Buscador {
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

/*navbar*/

.menuNavbar {
    flex-direction: row;
    background-color: #fa4659;
    list-style: none;
    height: 7vh;
 }

.menuNavbar li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menuNavbar li {
    padding: 0 20px;
}

.menuNavbar li a:hover {
    background-color: #3a4750;
    opacity: 0.7;
    transition: .4s;
    color: #000000;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/*
.menuNavbar ul {
    margin: 0;
}

.menuNavbar>li>ul {
    display: none;
}

.subMenuNavbar {
	position: absolute;
    list-style: none;
    background-color: #3a4750;
}

/************************************INDEX************************************/

/****main****/


main {
	height: 80vh;
	justify-content: center;
	align-items: center;
  text-align: center;
}
.containerRegistrarse{
	background-color: grey;
	height: 100%;
	width: 80%;
	justify-content: center;
}
.formulario{
  align-items:flex-start;
  width: 100%;
  padding:0 3%;
}
.campo{
  width: 100%;
  height: 30px;
}
.direccion{
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}
#campo1{
  width: 70%;
  align-items: flex-start;
  margin-left: 1;
}
#campo2{
  width: 30%;
  align-items: flex-start;
  margin-left: 1%;
}
.notificaciones{
  flex-direction: row;
  width: 100%;
  align-items:flex-start;
  padding:0 3%;
}
.terminos{
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  padding:0 3%;
}
div h5{
  flex-direction: row;
}
#registro{
  width: 20%;
  align-items: center;
  justify-content: center;
  height:30px;
  background-color: green;
}
.boton1{
  background-color: yellow;
}
#boton2{
  width: 100%;
  align-items: center;
}
/****footer****/

footer {
    background-color: #3a4750;
    height: 40vh;
    justify-content: space-between;
}

/**footer div**/

.footer_div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.footer_div div {
    height: 80%;
    width: 10%;
}

/*contacto*/

#divContacto {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    font-size: 12px;
}

#divContacto li {
    flex-direction: row;
    padding: 6px;
}

#divContacto i {
    padding: 5px 7px;
}

/*mapa de sitio*/

#divMapaSitio {
    padding: 10px;
    color: #ffffff;
}

#divMapaSitio a {
    text-decoration: none;
	color: #ffffff;
    padding: 5px 0 0 5px;
   }

/* redes sociales */

#divRedesSociales {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    width: 20%;
 }

#divRedesSociales a {
    text-decoration: none;
    color: #11cbd7;
    padding: 5px 0 0 5px;
}

/*newsletter*/

#divNewsletter {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    align-items: center;
}

#divNewsletter input {
   margin-top: 20px;
}

#inputEmail {
    padding-left: 15px;
    font-size: 14px;
    width: 90%;
    align-self: center;
}

#botonSuscribite {
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    align-items: center;
    align-self: center;
    padding: 5px;
    width: 50%;
}

/**Copyright**/

.copyright {
    background-color:  #fa4659;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 10px;
}
.copyright p{
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    color: #ffffff;
    margin:0;
}
#irArriba {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}
#irArriba:hover {
    color: #000000;
}


/************************************CONTACTO************************************/

.contenedorContacto {
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 120vh;
}

/**Contacto**/

.divContacto {
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 90%;
}

.divContacto h3 {
    align-items: center;
}

/*Datos Contacto*/

.datosContacto{
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 70%;
}

.datosContacto ul {
    margin: 0 !important;
}

.datosContacto li {
    flex-direction: row;
    padding: 5px;
}

.datosContacto i {
    padding: 3px 10px;
}

/**Formulario**/

.formularioContacto {
    justify-content: space-around;
    height: 60%;
    width: 70%
}

.formularioContacto label {
    margin: 0 !important;
    font-size: 15px;
    padding-bottom: 5px;
}

.formularioContacto input {
    font-size: 14px;
    padding: 4px 0;
}

/*boton enviar*/

.divButton {
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.formularioContacto button {
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    width: 12%;
    border:none;
    align-items: center;
    padding: 5px;
}
/************************************PRODUCTOS************************************/

.contenedorProductos{
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 200vh;
}

/**breadcrumb**/

.divBreadcrumbProductos{
    background-color: #eaeaea;
    width: 90%;
    height: 4%;
    border-radius: 4px;
}

/*productos*/

.bodyProductos {
    flex-direction: row;
    width: 85%;
    height: 90%;
    justify-content: space-between;
}

.bodyProductos a:hover{
    color: #000000;
}

/*categorias*/

.colCategorias{
    background-color: #f5f5f5;
    width: 18%;
    height: 20%;
    padding: 15px 0 0 20px;
}

.colCategorias li a{
    color: #000000;
}

/*grilla de productos*/

.grillaProductos {
    justify-content: space-around;
    width: 80%;
}

/*form detalles*/

.formDetalle{
    flex-direction: row;
    justify-content: flex-end;
    height: 5%;
    padding:15px;
    font-size: 13px;
}

.formDetalle label{
    padding-top: 6px;
}

.formDetalle select{
    flex-direction: row;
    width: 20%;
    margin-left: 10px;
    color: #666666;
    border: 1px solid #ccc;
    height: 36px;
    padding-left: 3px;
}


/*grilla*/

.grilla {
    height: 95%;
    justify-content: space-around;
}

/*filas dentro de la grilla*/

.fila {
    flex-direction: row;
    justify-content: space-around;
    height: 24%;
}

/*poducto de cada fila*/
.producto {
    width: 23%;
    align-items: center;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #dedede;
}

.producto a {
    align-items: center;
    color: #000000;
    padding-bottom: 10px;
    font-weight: bold;
    font-style: none;
}

.producto img {
    width: 80%;
    height: 90%;
}


/************************************PRODUCTOS POR CATEGORIA************************************/

.grillaCatProducto {
    height: 95%;
    justify-content: flex-start;
    margin-top: 30px;
}


/************************************DETALLE PRODUCTO************************************/

.contenedorDetalleProducto {
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 130vh;
}

.divProducto {
    justify-content: space-around;
    width: 70%;
    height: 90%;
}

/*Detalle Producto*/

.detalleProducto {
    flex-direction: row;
    justify-content: space-around;
    height: 45%;
    width:90%;
}

/*Imagen del producto*/

.imagenesProducto {
    justify-content: center;
    align-items: center;
    width: 55%;
    border-right: 1px solid #dedede;
}

.imagenesProducto img {
    height: 70%;
    width: 50%;
}

/*Datos del producto*/

.datosProducto {
    justify-content: space-around;
    width: 40%;
    padding: 15px;
}

.nombrePrecio {
    height: 40%;
    justify-content: space-around;
 }

 .nombrePrecio h5{
    font-weight: bold;
 }

.formCantidad {
    width: 20%;
    height: 20%;
}

.botonCarrito {
    height: 30%;
    align-items: center;
    margin-top: 30px;
}

.botonCarrito  button {
    align-items: center;
    width: 90%;
    font-size: 14px;
    background-color: #11cbd7;
    border: none;
    padding: 7px;
    text-transform: uppercase;
}

/*Descripcion del producto*/

.descripcionProducto {
    height: 38%;
    font-size: 14px;
}

/************************************ERROR 404************************************/

#error404 {
    height: 100vh;
    background-color: #e1e1e3;
    align-items: center;
    justify-content: center;
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
 }

.notfound .cloud > div {
    width: 100%;
    background: #fff;
    border-radius: 90px;
    height: 125px;
}

.cloud div {
    justify-content: center;
}

.notfound .cloud > div:nth-child(1) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
}

.notfound .cloud > div:nth-child(2) {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 10;
}

.notfound .cloud > div:nth-child(3) {
    -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
            box-shadow: 5px 5px 0px 0px #f3f3f3;
    position: relative;
    z-index: 90;
}

.notfound h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 86px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
    color: #151515;
}

.notfound h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #151515;
}

.notfound a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #11cbd7;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    width: 30%;
    align-self: center;
}
