/****general****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

body {
    font-family: sans-serif;
    width: 100%;
}

/****header****/

header {
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

.header_Sup {
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

/*Incio-Registrar*/

.menuInicio {
    width: 15%;
    justify-content: space-around;
}
.menuInicio li>a {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #11cbd7;
    margin: 5px 5px 0 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
    width: 60%;
}

/*logo*/

.logo {
    align-items: center;
    width: 30%;
    margin: 5px;
}
.logo img {
    width: 270px;
    height: 90px;
}
/*Menu Carrito*/

.menuCarrito {
    justify-content: space-around;
    width: 15%;
  }

/*carrito*/

#carrito {
    text-decoration: none;
    color: #11cbd7;
    margin: 10px 5px 0;

}
/*buscador*/

.buscador {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    margin: 0 5px;
}
#input_Buscador {
    border: none;
    outline: none;
    background: none;
    color: white;
    transition: 0.4s;
    font-size: 14px;
    line-height: 25px;
}
#btn_Buscador {
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

/*navbar*/

.menuNavbar {
    flex-direction: row;
    justify-content: space-around;
    background-color: #fa4659;
    list-style: none;
 }

.menuNavbar li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px;
    display: block;
}

.menuNavbar li a:hover {
	background-color: #3a4750;
    opacity: 0.7;
    transition: .4s;
    color: #000000;
}

.menuNavbar>li>ul {
    display: none;
}

.menuNavbar li:hover>ul {
  	display: block;
}

/* SubMenu */
.subMenuNavbar {
	position: absolute;
    list-style: none;
    background-color: #3a4750;
}

/****main****/

main {
    height: 250vh;
    text-align: center;
 }

.contenedores {
	 justify-content: space-around;
	 align-items: center;
	 height: 100%;
	 width: 100%;
}

.h3 {
    height: 15%;
    justify-content: center;
}

.galeria {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

/*carousel*/

#mainCarousel {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.imagenCarousel {
    width: auto;
    height: 400px;
}

.indicador {
	flex-direction: row;
}
/*destacados*/
#mainDestacados {
    background-color: lightgrey;
    height: 20%;
    width: 70%;
}
.galeriaDestacados {
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 10px;
}
.galeriaDestacados:hover {
    background-color: grey;
    transition: 0.4s;
    opacity: 1;
}
.galeriaDestacados img {
	box-sizing: content-box;
    width: 90%;
    height: 90%;
}

/*promociones*/
#mainPromociones {
    background-color: lightgrey;
   	height:20%;
    width: 70%;
}
.divPromociones {
	align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    margin: 10px;
}
/*pagos*/
#mainPagos {
    background-color: lightgrey;
    height:20%;
    width: 70%;
}

.divMainPagos {
	align-items: center;
    justify-content: center;
    margin: 10px;
}

.divMainPagos img {
    width: 70%;
    height: 80%;
}

/****footer****/

footer {
    background-color: #3a4750;
    height: 40vh;
    justify-content: space-between;
}

/**footer div**/

.footer_div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.footer_div div {
    height: 80%;
    width: 10%;
}

.footer_div h5 {

}


/*contacto*/

#divContacto {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    font-size: 12px;
}

/*mapa de sitio*/

#divMapaSitio {
    padding: 10px;
    color: #ffffff;
}

#divMapaSitio a {
    text-decoration: none;
	color: #ffffff;
    padding: 5px 0 0 5px;
   }

/* redes sociales */

#divRedesSociales {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    width: 20%;
  }

#divRedesSociales a {
    text-decoration: none;
    color: #11cbd7;
    padding: 5px 0 0 5px;
}

/*newsletter*/

#divNewsletter {
	color: #ffffff;
	padding: 10px;

}

/**Copyright**/

.copyright {
    background-color:  #fa4659;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 10px;
}
.copyright p {
    flex-direction: row;
    font-size: 11px;
    color: #ffffff;
    margin:0;
}
#irArriba {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}
#irArriba:hover {
    color: #000000;
}
