/****general****/

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

title {
    display: none;
}

body {
    font-family: sans-serif;
    width: 100%;
}

/****header****/

.headerContainer {
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

.header_Sup {
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

/*Incio-Registrar*/

.menuInicio {
    width: 15%;
    justify-content: space-around;
}
.menuInicio li>a {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #11cbd7;
    margin: 5px 5px 0 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
    width: 60%;
}

/*logo*/

.logo {
    align-items: center;
    width: 30%;
    margin: 5px;
}
.logo img {
    width: 270px;
    height: 90px;
}
/*Menu Carrito*/

.menuCarrito {
    justify-content: space-around;
    width: 15%;
  }

/*carrito*/

#carrito {
    text-decoration: none;
    color: #11cbd7;
    margin: 10px 5px 0;

}
/*buscador*/

.buscador {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    margin: 0 5px;
}
#input_Buscador {
    border: none;
    outline: none;
    background: none;
    color: #FFFFFF;
    transition: 0.4s;
    font-size: 14px;
    line-height: 25px;
}
#btn_Buscador {
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

/*navbar*/

.menuNavbar {
    flex-direction: row;
    background-color: #fa4659;
    list-style: none;
    height: 7vh;
 }

.menuNavbar li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menuNavbar li {
    padding: 0 20px;
}

.menuNavbar li a:hover {
    background-color: #3a4750;
    opacity: 0.7;
    transition: .4s;
    color: #000000;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/*
.menuNavbar ul {
    margin: 0;
}

.menuNavbar>li>ul {
    display: none;
}

.subMenuNavbar {
	position: absolute;
    list-style: none;
    background-color: #3a4750;
}

/************************************INDEX************************************/

/****main****/

.contenedorIndex {
	justify-content: space-around;
	align-items: center;
	width: 100%;
    height: 230vh;
    text-align: center;
}

.h3 {
    height: 15%;
    justify-content: center;
}

.galeria {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

/**breadcrumb**/

.divBreadcrumb{
    background-color: #eaeaea;
    width: 90%;
    height: 5%;
    border-radius: 4px;
}

.menuBreadcrumb{
    flex-direction: row; 
    margin: 0 !important;
    height: 100%;
    padding-left: 15px;
}

.menuBreadcrumb li, span {
    padding: 10px 2px;
    justify-content: center;
}

.menuBreadcrumb a {
    text-decoration: none;
    color: #000000;
}

/*carousel*/

#mainCarousel {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.imagenCarousel {
    width: auto;
    height: 400px;
}

.indicador {
	flex-direction: row;
}

/*destacados*/
#mainDestacados {
    background-color: #D3D3D3;
    height: 20%;
    width: 70%;
}

.divDestacados {
    background-color: #696969;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 10px;
}

.divDestacados a {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.divDestacados:hover {
    background-color: #fa4659;
    transition: 0.4s;
    opacity: 1;
}
.divDestacados img {
    width: 100%;
    height: 100%;
}

/*promociones*/
#mainPromociones {
    background-color: #D3D3D3;
    height: 25%;
    width: 70%;
}

.divPromociones {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.divPromociones a {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.divPromociones img {
    width: 100%;
    height: 100%;
    border: 5px dotted #000000;
}

.ampliar:hover{
    transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -ms-transform:scale(1.2,1.2);
}

/*pagos*/
#mainPagosEnvios {
    background-color: #D3D3D3;
    height: 20%;
    width: 70%;
}

.divPagosEnvios {
	align-items: center;
    justify-content: center;
    margin: 10px;
}

.divPagosEnvios img {
    width: 70%;
    height: 60%;
}

.rotate:hover{
    transform:rotate(10deg);
    -webkit-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
}


/****footer****/

footer {
    background-color: #3a4750;
    height: 40vh;
    justify-content: space-between;
}

/**footer div**/

.footer_div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.footer_div div {
    height: 80%;
    width: 10%;
}

/*contacto*/

#divContacto {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    font-size: 12px;
}

#divContacto li {
    flex-direction: row;
    padding: 6px;
}

#divContacto i {
    padding: 5px 7px;
}

/*mapa de sitio*/

#divMapaSitio {
    padding: 10px;
    color: #ffffff;
}

#divMapaSitio a {
    text-decoration: none;
	color: #ffffff;
    padding: 5px 0 0 5px;
   }

/* redes sociales */

#divRedesSociales {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    width: 20%;
 }

#divRedesSociales a {
    text-decoration: none;
    color: #11cbd7;
    padding: 5px 0 0 5px;
}

/*newsletter*/

#divNewsletter {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    align-items: center;
}

#divNewsletter input {
   margin-top: 20px;
}

#inputEmail {
    padding-left: 15px;
    font-size: 14px;
    width: 90%;
    align-self: center;
}

#botonSuscribite {
    color: #f7f7f7;
    background-color: #11cbd7;
    border-radius: 6px;
    font-weight: bold;
    border:none;
    align-items: center;
    align-self: center;
    padding: 5px;
    width: 50%;
}

/**Copyright**/

.copyright {
    background-color:  #fa4659;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 10px;
}
.copyright p{
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    color: #ffffff;
    margin:0;
}
#irArriba {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}
#irArriba:hover {
    color: #000000;
}




