<!DOCTYPE html>
<html lang="es-AR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="potreroDigital_proyecto_grupo4_Styles.css">
	<title></title>
</head>
<body>
	
	<header>

		<div class="headSup">
			<div class="divIzq">
				<div>
					<ul>
						<li><a href="#">Registrarse</a></li>
						<li><a href="#">Iniciar Sesion</a></li>
					</ul>
				</div>
			</div>
			<div class="logo">LOGO</div>
			<div class="divDer">
				<div>
					<button><a href="#">Mi Carrito</a></button>
				</div>
				<div>
					Buscador
				</div>
			</div>
		</div>

		<nav>
			<ul class="menu">
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Productos</a>
					<ul>
						<li> <a href="#">X</a></li>
						<li> <a href="#">X</a></li>
						<li> <a href="#">X</a></li>
					</ul>
				</li>
				<li><a href="#">Quienes Somos</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>

		</nav>
		
	</header>

	<main>

		<div class="mainCarousel">FOTOS CAROUSEL</div>
		
		<div class="mainGaleria">
			<div class="divMainGaleria">PRODUCTO 1</div>
			<div class="divMainGaleria">PRODUCTO 2</div>
			<div class="divMainGaleria">PRODUCTO 3</div>
			<div class="divMainGaleria">PRODUCTO 4</div>
		</div>
		
		<div class="mainPromociones">
			<div class="divPromociones">PROMO 1</div>
			<div class="divPromociones">PROMO 2</div>
			<div class="divPromociones">PROMO 3</div>
		</div>
		
		<div class="mainPagos">
			<div class="divMainPagos">PAGO 1</div>
			<div class="divMainPagos">PAGO 2</div>
			<div class="divMainPagos">PAGO 3</div>
		</div>

	</main>

	<footer>
		
		<div class="divSup">
			<div id="divContacto">
				<p>Direccion:</p>
				<p>Teléfono:</p>
				<p>E-mail:</p>
			</div>
			<div id="divMapaSitio">
				MAPA DEL SITIO
			</div>
			<div id="divRedesSociales">
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">instagram</a></li>
				</ul>
			</div>
			<div id="divNewsletter">
				NEWSLETTER
			</div>
		</div>
		
		<div class="copyright">
			<p>&copy; 2020 <strong><span>NOMBRE DE LA EMPRESA</span></strong>. Todos los derechos reservados.</p>
		</div>

	</footer>
</body>
</html>