/****general****/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

title {
    display: none;
}

body {
    font-family: sans-serif;
    width: 100%;
}

/****header****/

header {
    justify-content: space-around;
    height: 30vh;
    text-align: center;
}

.header_Sup {
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}

/*Incio-Registrar*/

.menuInicio {
    width: 15%;
    justify-content: space-around;
}
.menuInicio li>a {
    text-decoration: none;
    color: #f7f7f7;
    background-color: #11cbd7;
    margin: 5px 5px 0 30px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
    width: 60%;
}

/*logo*/

.logo {
    align-items: center;
    width: 30%;
    margin: 5px;
}
.logo img {
    width: 270px;
    height: 90px;
}
/*Menu Carrito*/

.menuCarrito {
    justify-content: space-around;
    width: 15%;
  }

/*carrito*/

#carrito {
    text-decoration: none;
    color: #11cbd7;
    margin: 10px 5px 0;

}
/*buscador*/

.buscador {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 40px;
    margin: 0 5px;
}
#input_Buscador {
    border: none;
    outline: none;
    background: none;
    color: white;
    transition: 0.4s;
    font-size: 14px;
    line-height: 25px;
}
#btn_Buscador {
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

/*navbar*/

.menuNavbar {
    flex-direction: row;
    justify-content: space-around;
    background-color: #fa4659;
    list-style: none;
 }

.menuNavbar li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px;
    display: block;
}

.menuNavbar li a:hover {
	background-color: #3a4750;
    opacity: 0.7;
    transition: .4s;
    color: #000000;
}

.menuNavbar>li>ul {
    display: none;
}

.menuNavbar li:hover>ul {
  	display: block;
}

/* SubMenu */
.subMenuNavbar {
	position: absolute;
    list-style: none;
    background-color: #3a4750;
}

/****main****/

main {
	height: 80vh;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.container{
	background-color: grey;
	height: 100%;
	width: 70%;
	margin: 10px;
	justify-content: center;
}
.formulario{
  align-items:flex-start;
  width: 100%;
  padding:0 3%;
}
.campo{
  width: 100%;
  height: 30px;
}
.direccion{
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}
#campo1{
  width: 70%;
  align-items: flex-start;
  margin-left: 1;
}
#campo2{
  width: 30%;
  align-items: flex-start;
  margin-left: 1%;
}
.notificaciones{
  flex-direction: row;
  width: 100%;
  align-items:flex-start;
  padding:0 3%;
}
.terminos{
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  padding:0 3%;
}
div h5{
  flex-direction: row;
}
#registro{
  width: 20%;
  align-items: center;
  justify-content: center;
  height:30px;
  background-color: green;
}
.boton1{
  background-color: yellow;
}
#boton2{
  width: 100%;
  align-items: center;
}
/****footer****/

footer {
    background-color: #3a4750;
    height: 40vh;
    justify-content: space-between;
}

/**footer div**/

.footer_div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    width: 100%;
}

.footer_div div {
    height: 80%;
    width: 10%;
}

.footer_div h5 {

}


/*contacto*/

#divContacto {
	color: #ffffff;
	padding: 10px;
    width: 20%;
    font-size: 12px;
}

/*mapa de sitio*/

#divMapaSitio {
    padding: 10px;
    color: #ffffff;
}

#divMapaSitio a {
    text-decoration: none;
	color: #ffffff;
    padding: 5px 0 0 5px;
   }

/* redes sociales */

#divRedesSociales {
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    width: 20%;
  }

#divRedesSociales a {
    text-decoration: none;
    color: #11cbd7;
    padding: 5px 0 0 5px;
}

/*newsletter*/

#divNewsletter {
	color: #ffffff;
	padding: 10px;

}

/**Copyright**/

.copyright {
    background-color:  #fa4659;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 10px;
}
.copyright p {
    flex-direction: row;
    font-size: 11px;
    color: #ffffff;
    margin:0;
}
#irArriba {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}
#irArriba:hover {
    color: #000000;
}
